/* width */
::-webkit-scrollbar {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    display: none;
}

html, body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    z-index: 0;
    overflow-x: hidden; 
    /* overflow-y: hidden; */
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
    /* overflow-y: visible;  */
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth{
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

body {
    background-color: rgb(219, 239, 237);

}

.bg-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

p{
    font-size: 20px;
}

hr {
    color: black;
    border: 1px solid black;    
}

.cover {
    position: relative;
    z-index: 3;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: rgba(219, 239, 237, 0.2);
    width: 100%;

    position: fixed;
    z-index: 10;
    top: 0;
}

.navbar-ab {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: rgba(19, 39, 37, 0.5);
    width: 100%;

    position: fixed;
    z-index: 10;
    top: 0;
}

.navbar-rp {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: rgba(19, 39, 37, 0.4);
    width: 100%;

    position: fixed;
    z-index: 10;
    top: 0;
}

.akoume {
    height: 65px;
    width: 110px;
    margin-left: 3%;
    margin-top: 5px;

    background-image: url("akoume logo2.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline;
}

.title{
    padding-left: 1%;
    flex-grow: 1;
    text-align: left;
    padding-right: 10px;
    /* flex: 1; */
}

.title > * {
    text-decoration: none;
    color: black;
}

.links {
    margin-top: 5px;
    /* flex-grow: 1; */
    /* flex: 1; */
    display: flex;
    justify-content: space-around;
    font-size: large;
    font-weight: 700;
    flex-wrap: wrap;
    gap: 10px;
}

.links > * {
    padding-left: 22px;
    padding-right: 23px;
    text-decoration: none;
    color: black;
}

.dropdown {
    position: absolute;
    top: 22px;
    right: 30px;
    overflow-y: auto;
}

.dropbtn {
    background-image: url('Hamburger_icon.svg');
    height: 32px;
    width: 32px;
    display: none;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.dropdown-content {
    display: none;
    background-color: rgb(219, 239, 237);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
}

.dropdown-content > ul {
    margin-top: 150px;
    font-size: 40px;
    margin-left: 20px;
}
.dropdown-content > ul > li {
    margin-top: 20px;
}

.dropdown-content > ul > li > a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.bg-cover {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    background-image: url("cover-2.jpg");
    width: 65%;
    min-height: 820px;
    background-color: rgb(219, 239, 237);
    background-repeat: no-repeat;  
    background-size: contain;
    background-position: right center;
    border-bottom: 50%;
}

.post-cover {
    position: absolute;
    z-index: 2;

    left: 0;
    top: 43px;

    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2.5%;
    width: 38%;
}

.cover-desc{
    display: flex;
    min-height: 620px;
    flex-direction: column;
    justify-content: start;
}

.cover-desc-title{
    font-size: 45px;
    font-weight: 600;
    margin-top: 15%;
}

.cover-desc-desc{
    margin-top: 0%;
    word-spacing: 3px;
    line-height: 1.5;
}

.cover-desc > a {
    width: 200px;
    margin-top: 5px;
    border-radius: 30px;
    background-color: rgb(58, 147, 129);
    color: rgb(219, 239, 237);
    align-self: flex-start;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid rgb(58, 147, 129);
    text-decoration: none;
}

.cover-desc > a:hover {
    background-color: rgb(219, 239, 237);
    color: rgb(58, 147, 129);
    transition: all 0.1s ease-in-out;
}

.work {
    position: absolute;
    z-index: 2;

    left: 0;
    top: 815px;
    
    width: 90%;
    padding-top: 35px;
    padding-right: 5%;
    padding-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: linear-gradient(rgb(219, 239, 237),rgb(193, 247, 255));
}

.work-desc-title{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    padding-right: 3%;
    padding-left: 3%;
}

.work-desc-desc{
    text-align: center;
    margin-top: 0%;
    word-spacing: 3px;
    line-height: 1.5;
    padding-right: 3%;
    padding-left: 3%;
}

.work-desc{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    gap: 45px;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 150px;
}

.work-desc > * {
    margin-left: 20px;
    margin-right: 20px;
}

.sanctuary {
    background-image: url("letter.png");
    filter: blur(1px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.sanctuary-text{
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 15;
    transform: translate(0px,-300px);
}

.sanctuary-text:hover > *{
    transform: translateY(calc(-50% + 50px));
    transition: all 0.15s ease-in-out;
}

.sanctuary-text > *{
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translateY(calc(-50% + 150px));

    font-size: 30px;
    font-weight: 700;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 15px;
}

.sanctuary-desc {
    height: 300px;
    width: 300px;
    z-index: 14;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translate(0px,-300px);
}

.sanctuary-text:hover + .sanctuary-desc{
    visibility: visible;
    transition: all 0.15s ease-in-out;
}

.sanctuary-desc > * {
    margin: 0;
    color: white;
    text-align: center;
    transform: translateY(calc(-50% + 175px));

    font-weight: 500;
    line-height: 1.5;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}

.winds {
    background-image: url("echo.jpg");
    filter: blur(1px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.winds-text{
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 15;
    transform: translate(0px,-300px);
}

.winds-text:hover > *{
    transform: translateY(calc(-50% + 50px));
    transition: all 0.15s ease-in-out;
}

.winds-text > *{
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translateY(calc(-50% + 150px));

    font-size: 30px;
    font-weight: 700;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 15px;
}

.winds-desc {
    height: 300px;
    width: 300px;
    z-index: 14;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translate(0px,-300px);
}

.winds-text:hover + .winds-desc{
    visibility: visible;
    transition: all 0.15s ease-in-out;
}

.winds-desc > * {
    margin: 0;
    color: white;
    text-align: center;
    transform: translateY(calc(-50% + 175px));

    font-weight: 500;
    line-height: 1.5;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}

.serenity {
    background-image: url("whispers.jpg");
    filter: blur(1.2px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.serenity-text{
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 15;
    transform: translate(0px,-300px);
}

.serenity-text:hover > *{
    transform: translateY(calc(-50% + 50px));
    transition: all 0.15s ease-in-out;
}

.serenity-text > *{
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translateY(calc(-50% + 150px));

    font-size: 30px;
    font-weight: 700;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 15px;
}

.serenity-desc {
    height: 300px;
    width: 300px;
    z-index: 14;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.13);
    transform: translate(0px,-300px);
}

.serenity-text:hover + .serenity-desc{
    visibility: visible;
    transition: all 0.15s ease-in-out;
}

.serenity-desc > * {
    margin: 0;
    color: white;
    text-align: center;
    transform: translateY(calc(-50% + 175px));

    font-weight: 500;
    line-height: 1.5;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}

.calm-waters {
    background-image: url("calm_waters.png");
    filter: blur(1.2px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.calm-waters-text{
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 15;
    transform: translate(0px,-300px);
}

.calm-waters-text:hover > *{
    transform: translateY(calc(-50% + 50px));
    transition: all 0.15s ease-in-out;
}

.calm-waters-text > *{
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: translateY(calc(-50% + 150px));

    font-size: 30px;
    font-weight: 700;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 15px;
}

.calm-waters-desc {
    height: 300px;
    width: 300px;
    z-index: 14;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.13);
    transform: translate(0px,-300px);
}

.calm-waters-text:hover + .calm-waters-desc{
    visibility: visible;
    transition: all 0.15s ease-in-out;
}

.calm-waters-desc > * {
    margin: 0;
    color: white;
    text-align: center;
    transform: translateY(calc(-50% + 175px));

    font-weight: 500;
    line-height: 1.5;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}

.meadows {
    background-image: url("ripples.jpg");
    filter: blur(1.2px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.meadows-text{
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 15;
    transform: translate(0px,-300px);
}

.meadows-text:hover > *{
    transform: translateY(calc(-50% + 50px));
    transition: all 0.15s ease-in-out;
}

.meadows-text > *{
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translateY(calc(-50% + 150px));

    font-size: 30px;
    font-weight: 700;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 15px;
}

.meadows-desc {
    height: 300px;
    width: 300px;
    z-index: 14;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.13);
    transform: translate(0px,-300px);
}

.meadows-text:hover + .meadows-desc{
    visibility: visible;
    transition: all 0.15s ease-in-out;
}

.meadows-desc > * {
    margin: 0;
    color: white;
    text-align: center;
    transform: translateY(calc(-50% + 175px));

    font-weight: 500;
    line-height: 1.5;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}

.groves {
    background-image: url("steps.jpg");
    filter: blur(1.2px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.groves-text{
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 15;
    transform: translate(0px,-300px);
}

.groves-text:hover > *{
    transform: translateY(calc(-50% + 50px));
    transition: all 0.15s ease-in-out;
}

.groves-text > *{
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translateY(calc(-50% + 150px));

    font-size: 30px;
    font-weight: 700;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 15px;
}

.groves-desc {
    height: 300px;
    width: 300px;
    z-index: 14;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.13);
    transform: translate(0px,-300px);
}

.groves-text:hover + .groves-desc{
    visibility: visible;
    transition: all 0.15s ease-in-out;
}

.groves-desc > * {
    margin: 0;
    color: white;
    text-align: center;
    transform: translateY(calc(-50% + 175px));

    font-weight: 500;
    line-height: 1.5;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}

.contact {
    position: absolute;
    width: 100%;
    top: 1878px;
    left: 0;
    z-index: 2;
    background-color: rgb(193, 247, 255);
    padding-bottom: 0;
}

.contact-content {
    color: white;
    width: 80%;
    background-color: rgb(58, 147, 129);

    border-top-left-radius: 75px;
    border-top-right-radius: 75px;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 65px;
}

.contact-info {
    width: 100%;
    flex-grow: 1;
    flex-basis: 430px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.contact-title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 40px;
}

.contact-desc {
    margin-top: 0;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.6;
}

.contact-text {
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
}

.contact-link {
    margin-top: 0;
    margin-right: 15px;
}

.copy-text{
    visibility: hidden;
}

.copy-text:hover {
    cursor: pointer;
}

.mail-link {
    color: white; 
    text-decoration: none; 
    margin-right: 10px;
}

.mail-link:hover {
    text-decoration: underline;
}

.mail:hover > * {
    visibility: visible;
}

.phone:hover > * {
    visibility: visible;
}

.about-img {
    margin-bottom: 0;
}

.mail-form {
    margin-top: 35px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 100%;
    flex-grow: 1;
    flex-basis: 430px;
}

.mail-form-form > * {
    width: 100%;
}

.mail-form-form > label {
    font-size: 22px;
    font-weight: 600;
}

.mail-form-form > input, textarea{
    width: 100%;

    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 5px;
    margin-bottom: 27px;
    border-radius: 30px;

    box-sizing: border-box;
    
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    font-family: "Montserrat", sans-serif;

    border: 0px;
    outline: 0px;
}

.mail-form-form > textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    resize: vertical;
}

.submit-button {
    width: 150px;

    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 5px;
    margin-bottom: 27px;
    border-radius: 75px;

    box-sizing: border-box;

    border: 4px solid white;
    outline: 0px;

    background-color: rgb(58, 147, 129);
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    line-height: 2;
    text-align: center;
}

.submit-button:hover {
    background-color: white;
    color: rgb(58, 147, 129);
    transition: all 0.15s ease-in-out;
}

#first-name {
    width: 47%;
    margin-right: 4%;
}

#last-name {
    width: 47%;
}

#fname {
    display: inline-block;
    width: 47%;
    margin-right: 4%;
}

#lname {
    display: inline-block;
    width: 47%;
}

.about-us{
    position: absolute;
    top: 90px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.about-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 0;
}

.about-title-desc{
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
}

.about-text{
    font-size: x-large;
    margin-top: 60px;
    font-weight: 500;
    line-height: 1.6;
}

.founders-div {
    width: 80%;
    position: absolute;
    top: 1700px;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 70px;
    background-color: rgba(189, 92, 172,0.5);
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
}

.founders {
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 20px;

    justify-content: center;
    color: white;
}

.founders-section {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    color: white;
}

.founder-img {
    height: 450px;
    width: 350px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.founders-text {
    padding-left: 5px;
    font-size: 40px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.founders-sub {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 5px;
}

.founders-link {
    margin-top: 0;
    padding-left: 5px;
}

.bharat {
    background-image: url(bharat.jpeg);
}

.siddharth {
    background-image: url(siddharth.jpg);
}

.tasmay {
    background-image: url(tasmay.JPG);
}

.cover-repo {
    background-image: url("repo-bg2.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center top 20%;
}

.cover-repo-filter {
    background-color: rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 100%;
    background-size: cover;
}

.post-nav {
    position: absolute;
    top: 130px;
    width: 100%;
    text-align: center;
}

.post-nav-sec {
    transform: translate(0,-50%);
}

.post-nav-title {
    font-size: 60px;
    font-weight: 700;
}

.Whispering-winds {
    margin-top: 150px;
    margin-bottom: 150px;

    width: 94%;
    padding-right: 3%;
    padding-left: 3%;
}

.Whispering-winds-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 25px;
}

.Whispering-winds-title-desc {
    margin-bottom: 50px;
}

.Mindful-meadows {
    margin-top: 150px;
    margin-bottom: 150px;

    width: 94%;
    padding-right: 3%;
    padding-left: 3%;
}

.Mindful-meadows-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 25px;
}

.Mindful-meadows-title-desc {
    margin-bottom: 50px;
}

.Calm-waters-rep {
    margin-top: 160px;
    margin-bottom: 150px;

    width: 94%;
    padding-right: 3%;
    padding-left: 3%;
}

.Calm-waters-rep-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 25px;
}

.Calm-waters-rep-title-desc {
    margin-bottom: 50px;
}

.helpline-table {
    font-size: 20px;
    border-spacing: 0 0px;
    border-collapse: collapse;
    border: 1px solid #000;
    text-align: center;
}

td, th {
    border: 1px solid #000;
    margin: 0;
    padding: 15px;
}

th {
    font-size: 25px;
}

.helpline-table > * > td {
    padding: 10px !important;
}

.blog-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.blog-img-thumb {
    cursor: pointer;
}

.img-blog-filter {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
}

.blog-img-thumb:hover > .img-blog-filter {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.15s ease-in;
}

.expert-convos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 40px;
}

.Serenity-leaves {
    margin-top: 150px;
    margin-bottom: 150px;

    width: 94%;
    padding-right: 3%;
    padding-left: 3%;
}

.Serenity-leaves-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 25px;
}

.Serenity-leaves-title-desc {
    margin-bottom: 10px;
}

.Serenity-leaves-subscribe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Serenity-leaves-subscribe > * {
    font-size: 25px;
    font-weight: 600;
    margin-top: 25px;
    text-decoration: underline;
}

.Serenity-leaves-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.newsletter-form {
    width: 55%;
    min-width: 350px;
}

.newsletter-form > * {
    width: 100%;
    text-align: left;
}

.newsletter-form > label {
    font-size: 22px;
    font-weight: 600;
}

.newsletter-form > input, textarea{
    width: 100%;

    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 5px;
    margin-bottom: 27px;
    border-radius: 30px;

    box-sizing: border-box;
    
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    font-family: "Montserrat", sans-serif;

    border: 0px;
    outline: 0px;
}

.newsletter-form > textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    resize: vertical;
}

.submit-button-newsletter {
    width: 150px;

    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 5px;
    margin-bottom: 27px;
    border-radius: 75px;

    box-sizing: border-box;

    border: 4px;
    outline: 0px;

    background-color: rgb(58, 147, 129);
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    line-height: 2;
    text-align: center;
}

.submit-button-newsletter:hover {
    background-color: white;
    color: rgb(58, 147, 129);
    transition: all 0.15s ease-in-out;
}

#first-name {
    width: 47%;
    margin-right: 4%;
}

#last-name {
    width: 47%;
}

#fname {
    display: inline-block;
    width: 47%;
    margin-right: 4%;
}

#lname {
    display: inline-block;
    width: 47%;
}

.Healing-grove-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 25px;
}

.Healing-grove-title-desc {
    margin-bottom: 50px;
}

.experts-div {
    width: 90%;
    margin-top: 150px;
    padding-left: 5%;
    padding-right: 5%;
}

.experts {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 50px;

    justify-content: center;
}

.experts-section {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    max-width: 380px;
    background-color: rgba(255, 255, 255,0.3);
    padding: 20px;
    border-top-left-radius: 190px;
    border-top-right-radius: 190px;
}

.experts-section:hover {
    background-color: rgba(150, 150, 150,0.3);
    transition: all 0.1s ease-in;
}

.expert-img {
    height: 380px;
    width: 380px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.experts-text {
    padding-left: 5px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.experts-sub {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    line-height: 1.6;
}

.experts-info {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-left: 5px;
    line-height: 1.8;
    /* visibility: hidden; */
}

/* .experts-section > a {
    visibility: hidden;
}

.experts-section:hover > a {
    visibility: visible;
}

.experts-section:hover > .experts-info {
    visibility: visible;
} */

.experts-link {
    margin-top: 0;
    padding-left: 5px;
}

.dr-rl-ravishankar {
    background-image: url(dr-rl-ravishankar.jpg);
}

.dr-suja-mk {
    background-image: url(dr-suja-mk.jpg);
}

.purva-dixit {
    background-image: url(purva-dixit.jpg);
}

.ena-gupta {
    background-image: url(ena-gupta.jpg);
}

.masiha-shabeer {
    background-image: url(masiha-shabeer.jpg);
}

.mridhula-maha {
    background-image: url(mridhula-maha.jpg);
}

.pragya-gopinath {
    background-image: url(pragya-gopinath.jpg);
}

.yukti-rastogi {
    background-image: url(yukti-rastogi.jpg);
}

.vidhi-sharma {
    background-image: url(vidhi-sharma.jpg);
}

.harshita-jain {
    background-image: url(harshita-jain.jpg);
}

.zeba-hussain {
    background-image: url(zeba-hussain.jpg);
}

.ankit-satija {
    background-image: url(ankit-satija2.jpg);
}

.lakshmi-jain {
    background-image: url(lakshmi-jain.jpg);
}

.blog-sec {
    width: 100%;
    display: flex;
    justify-content: center;
}

.blog-top {
    position: absolute;
    top: 85px;
    width: calc(40% + 228px);
    color: black;
}

.blog-top > a:hover > span {
    text-decoration: underline;
}

.back-to-repo {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.blog-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.blog-author {
    font-size: 25px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 15px;
}

.blog-date {
    font-size: 19px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 20px;
}

.blog-img1 {
    background-image: url('blog1_img.webp'); 
    height: 400px; 
    width: 98%; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.blog-img2 {
    background-image: url('blog2_img.webp'); 
    height: 400px; 
    width: 98%; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.blog-img3 {
    background-image: url('blog3_img.jpg'); 
    height: 400px; 
    width: 98%; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.blog-img4 {
    background-image: url('blog4_img.webp'); 
    height: 400px; 
    width: 98%; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.blog-img5 {
    background-image: url('blog5_img.png'); 
    height: 400px; 
    width: 98%; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.blog-img6 {
    background-image: url('blog6_img.png'); 
    height: 400px; 
    width: 98%; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.blog-img7 {
    background-image: url('blog7_img.png'); 
    height: 400px; 
    width: 98%; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.blog-img8 {
    background-image: url('blog8_img.png'); 
    height: 400px; 
    width: 98%; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.blog-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 130px;
}

.blog-text > strong {
    font-size: 22px;
    line-height: 2;
}